@font-face {
  font-family: "LocatorRegular";
  src: url("./fonts/locator-regular.eot");
  src: url("./fonts/locator-regular.eot?#iefix") format("embedded-opentype"),
       url("./fonts/locator-regular.woff") format("woff"),
       url("./fonts/locator-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Panton";
  src: url("./fonts/locator-regular.eot");
  src: url("./fonts/locator-regular.eot?#iefix") format("embedded-opentype"),
       url("./fonts/locator-regular.woff") format("woff"),
       url("./fonts/locator-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: sans-serif;
    background: #eee;
}
