@font-face {
    font-family: "LocatorRegular";
    src: url("./fonts/locator-regular.eot");
    src: url("./fonts/locator-regular.eot?#iefix") format("embedded-opentype"), url("./fonts/locator-regular.woff") format("woff"), url("./fonts/locator-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Panton";
    src: url("./fonts/panton-extrabold.eot");
    src: url("./fonts/panton-extrabold.eot?#iefix") format("embedded-opentype"), url("./fonts/panton-extrabold.woff") format("woff"), url("./fonts/panton-extrabold.ttf") format("truetype");
    font-weight: bold;
    font-style: bold;
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #F7F7F7;
    color: #FFF;
    font-family: "LocatorRegular", sans-serif;
    font-size: 24px;
}

#appContainer {
    height: 100%;
}

h1,
h2,
h3 {
    font-family: "Panton", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding: 3rem;
    margin: 0;
}

h2 {
    padding: 2rem 2rem 3rem 2rem;
}

h1 {
    font-size: 4rem;
}

.main {
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
    width: 100%;
    position: relative;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .25);
    background: white;
}

.plateContainer {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
}

.plate {
    position: relative;
    top: -1rem;
}

.plate__state,
select {
    border: 0;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
}

.plate__id,
input {
    border: 0;
    font-family: "LocatorRegular", sans-serif;
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
}

.messageHeader {
    color: #003E47;
    padding: 1rem 0 0 0;
    border-top: 3px solid #003E47;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style: none;
}

ul li {
    list-style-type: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.emojiListItem,
.messageListItem {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    color: #2D829F;
    font-size: 5rem;
}

.emojiListItem:first-child,
.messageListItem:first-child {
    border: 0;
}

.messageListItem {
    padding: 2rem;
}

.emojiList,
.messageList {
    background: none;
    border-radius: 5px;
}

span.emojiCount {
    font-family: "Panton", sans-serif;
}

.timestamp {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

.message {
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

.licenseInput{
    padding-bottom: 3rem;
}

input[type=text],
.plate__id {
    width: 75%;
    color: #2D829F;
    border: 3px solid #EEE;
    border-radius: 5px;
}

input[type=select],
.selectState,
.plate__state,
.currentState {
    -webkit-appearance: none;
    background: transparent;
    border-radius: 0;
    color: #2D829F;
    font-size: 2rem;
    width: 100%;
    text-align: center;
    text-transform: uppercase
}

.selectState {
    display: none;
}

input[type=submit] {
    background: #84D9F6;
    border-radius: 5px;
    color: white;
    font-size: 2rem;
    margin-top: 1rem;
    padding: 1.5rem;
    width: 100%;
    cursor: pointer;
}

.submitContainer {
    padding: 2rem;
    width: 100%;
    box-sizing: border-box;
    background: #EFEFEF;
}

.plateMain {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    height: auto;    
    padding: 3rem 3rem 3rem 3rem;
}

.plateBody {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    position: absolute;
    flex-direction: column;
    left: 0;
    top: 0;
}

.plateMain img {
    width: 100%;    
    -webkit-filter: drop-shadow( 0px 3px 3px rgba(0, 0, 0, .25) );
            filter: drop-shadow( 0px 3px 3px rgba(0, 0, 0, .25);  );
}

.plateMain .plateText {
    top: 50%;
    color: #003E47;
    text-align: center;  
    text-shadow: 0px 3px 3px rgba(0, 0, 0, .25);  
    padding: 0;
}

span.plateEmoji {
    font-family: "LocatorRegular", sans-serif;
}
